body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 2px;
	--tab-radius-active: 2px;
	--checkbox-radius: 4px;
	--toggle-radius: 4px;
	--toggle-thumb-radius: 4px;
	--slider-thumb-radius: 4px;
	--font-text-theme: 'Bradley Hand ITC', Georgia, serif;
	--ribbon-background: #01010f;

}

.theme-dark {
	--background-primary: #01070e;
	--background-secondary: #01010f;
}

.theme-light {
	--background-primary: #e5ddf7;
	--background-secondary: #e7dffa;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
