body {
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--radius-xl: 16px;
	--input-radius: 2px;
	--tab-radius-active: 8px;
	--checkbox-radius: 4px;
	--toggle-radius: 8px;
	--toggle-thumb-radius: 8px;
	--slider-thumb-radius: 8px;
	--font-text-theme: 'Bradley Hand ITC', Georgia, serif;
	--bold-color:rgb(57, 202, 235);
	--italic-color:rgb(237, 148, 126);
	--ribbon-background: #01010f;
	--link-color: white;
	--link-external-color: limegreen;

	--h1-color: rgb(243, 12, 20);
	--h2-color: rgb(190, 182, 22);
	--h3-color: rgb(190, 117, 22);
	--h4-color: rgb(22, 190, 53);
	--h5-color: rgb(26, 26, 214);
	--h6-color: rgb(22, 154, 190);

}

.theme-dark {
	--background-primary: #1d2121;
	--background-secondary: #272c2c;
}

.theme-light {
	--background-primary: #e5ddf7;
	--background-secondary: #e7dffa;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
